@{
    ViewData["Title"] = "Access denied";
}

<style>
    .img-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-container img{
        width: 60%;
    }
</style>

<div class="img-container">
    <img src="~/images/access-denied.png" asp-append-version="true" />
</div>